body {
    margin:30px auto;
    max-width:850px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0px;
  }

strong.redcolour{
    color: red;
  }
  
  h1,h2,h3{
    line-height:1.6;
    font-family: "Lato", serif;
  }

 img {
     position: absolute;
     animation: move 3s infinite ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: alternate;
  }

@keyframes move {
  from{ transform: translateX(0px)}
  to{   transform: translateX(550px)}
}

  

